@{
    ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<div class="container text-center">
    <img src="~/images/cancel.svg" class="img-responsive"/>
    <h2>You are not authorized to perform this action!</h2>
</div>
