@model ChurchSystem.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <partial name="_User" />

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm" class="control-label"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FieldId").change(function () {
                $("#DistrictId").empty();
                $("#DistrictId").append('<option value="0">[Select a district...]</option>');
                $("#ChurchId").empty();
                $("#ChurchId").append('<option value="0">[Select a church...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDistricts")',
                    dataType: 'json',
                    data: { fieldId: $("#FieldId").val() },
                    success: function (districts) {
                        $.each(districts, function (i, district) {
                            debugger;
                            $("#DistrictId").append('<option value="'
                                + district.id + '">'
                                + district.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve districts.' + ex);
                    }
                });
                return false;
            })

            $("#DistrictId").change(function () {
                $("#ChurchId").empty();
                $("#ChurchId").append('<option value="0">[Select a church...]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetChurches")',
                    dataType: 'json',
                    data: { districtId: $("#DistrictId").val() },
                    success: function (churches) {
                        $.each(churches, function (i, church) {
                            debugger;
                            $("#ChurchId").append('<option value="'
                                + church.id + '">'
                                + church.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve churches.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
